<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e7edf4] px-10 py-3">
          <div class="flex items-center gap-4 text-[#0d151c]">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M44 11.2727C44 14.0109 39.8386 16.3957 33.69 17.6364C39.8386 18.877 44 21.2618 44 24C44 26.7382 39.8386 29.123 33.69 30.3636C39.8386 31.6043 44 33.9891 44 36.7273C44 40.7439 35.0457 44 24 44C12.9543 44 4 40.7439 4 36.7273C4 33.9891 8.16144 31.6043 14.31 30.3636C8.16144 29.123 4 26.7382 4 24C4 21.2618 8.16144 18.877 14.31 17.6364C8.16144 16.3957 4 14.0109 4 11.2727C4 7.25611 12.9543 4 24 4C35.0457 4 44 7.25611 44 11.2727Z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
            <h2 class="text-[#0d151c] text-lg font-bold leading-tight tracking-[-0.015em]">JobFit Pro</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-[#0d151c] text-sm font-medium leading-normal" href="#">Dashboard</a>
              <a class="text-[#0d151c] text-sm font-medium leading-normal" href="#">Resume Builder</a>
              <a class="text-[#0d151c] text-sm font-medium leading-normal" href="#">Cover Letter Builder</a>
              <a class="text-[#0d151c] text-sm font-medium leading-normal" href="#">Resources</a>
              <a class="text-[#0d151c] text-sm font-medium leading-normal" href="#">Pricing</a>
            </div>
            <button
              class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 bg-[#e7edf4] text-[#0d151c] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
            >
              <div class="text-[#0d151c]" data-icon="Bell" data-size="20px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M221.8,175.94C216.25,166.38,208,139.33,208,104a80,80,0,1,0-160,0c0,35.34-8.26,62.38-13.81,71.94A16,16,0,0,0,48,200H88.81a40,40,0,0,0,78.38,0H208a16,16,0,0,0,13.8-24.06ZM128,216a24,24,0,0,1-22.62-16h45.24A24,24,0,0,1,128,216ZM48,184c7.7-13.24,16-43.92,16-80a64,64,0,1,1,128,0c0,36.05,8.28,66.73,16,80Z"
                  ></path>
                </svg>
              </div>
            </button>
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCQQZvgLXdgZfuS7h_6jdt6qJjPo3vB0l486WGl4bktVVlcrUk5YOTUjYvdrtF96pduG8HFKrMo2QHTA4X_w58PZre-N4L2_meerLtufnVmpieCvN5Z46P9AbLD9XOIfYcNLuwY3k9G-J7XZYUTAtA-TyKdAl_KOdY9wggKiQUzycvYhoEZlq8Q6mPYM8UD6snrK9EoXd222UYuqOI677hyWTtKuALWV0LfhCZnHYVO0i1ibzdVsTGYCkD1rKqnMcT_agCP75ui");'
            ></div>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap gap-2 p-4">
              <a class="text-[#49749c] text-base font-medium leading-normal" href="#">Dashboard</a>
              <span class="text-[#49749c] text-base font-medium leading-normal">/</span>
              <span class="text-[#0d151c] text-base font-medium leading-normal">ATS Score Analysis</span>
            </div>
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <div class="flex min-w-72 flex-col gap-3">
                <p class="text-[#0d151c] tracking-light text-[32px] font-bold leading-tight">ATS Score Analysis</p>
                <p class="text-[#49749c] text-sm font-normal leading-normal">Review your resume's performance against the job description and identify areas for improvement.</p>
              </div>
            </div>
            <h2 class="text-[#0d151c] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Overall ATS Score</h2>
            <div class="flex flex-col gap-3 p-4">
              <div class="flex gap-6 justify-between">
                <p class="text-[#0d151c] text-base font-medium leading-normal">ATS Compatibility</p>
                <p class="text-[#0d151c] text-sm font-normal leading-normal">75%</p>
              </div>
              <div class="rounded bg-[#cedce8]"><div class="h-2 rounded bg-[#0b80ee]" style="width: 75%;"></div></div>
              <p class="text-[#49749c] text-sm font-normal leading-normal">Good</p>
            </div>
            <h2 class="text-[#0d151c] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Score Breakdown</h2>
            <div class="flex flex-wrap gap-4 p-4">
              <div class="flex min-w-[158px] flex-1 flex-col gap-2 rounded-xl p-6 border border-[#cedce8]">
                <p class="text-[#0d151c] text-base font-medium leading-normal">Keywords</p>
                <p class="text-[#0d151c] tracking-light text-2xl font-bold leading-tight">80%</p>
              </div>
              <div class="flex min-w-[158px] flex-1 flex-col gap-2 rounded-xl p-6 border border-[#cedce8]">
                <p class="text-[#0d151c] text-base font-medium leading-normal">Skills</p>
                <p class="text-[#0d151c] tracking-light text-2xl font-bold leading-tight">70%</p>
              </div>
              <div class="flex min-w-[158px] flex-1 flex-col gap-2 rounded-xl p-6 border border-[#cedce8]">
                <p class="text-[#0d151c] text-base font-medium leading-normal">Experience</p>
                <p class="text-[#0d151c] tracking-light text-2xl font-bold leading-tight">75%</p>
              </div>
              <div class="flex min-w-[158px] flex-1 flex-col gap-2 rounded-xl p-6 border border-[#cedce8]">
                <p class="text-[#0d151c] text-base font-medium leading-normal">Formatting</p>
                <p class="text-[#0d151c] tracking-light text-2xl font-bold leading-tight">85%</p>
              </div>
            </div>
            <h2 class="text-[#0d151c] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Visual Score Representation</h2>
            <div class="flex flex-wrap gap-4 px-4 py-6">
              <div class="flex min-w-72 flex-1 flex-col gap-2 rounded-xl border border-[#cedce8] p-6">
                <p class="text-[#0d151c] text-base font-medium leading-normal">Keywords</p>
                <div class="grid min-h-[180px] grid-flow-col gap-6 grid-rows-[1fr_auto] items-end justify-items-center px-3">
                  <div class="border-[#49749c] bg-[#e7edf4] border-t-2 w-full" style="height: 10%;"></div>
                  <p class="text-[#49749c] text-[13px] font-bold leading-normal tracking-[0.015em]">Present</p>
                  <div class="border-[#49749c] bg-[#e7edf4] border-t-2 w-full" style="height: 50%;"></div>
                  <p class="text-[#49749c] text-[13px] font-bold leading-normal tracking-[0.015em]">Missing</p>
                </div>
              </div>
              <div class="flex min-w-72 flex-1 flex-col gap-2 rounded-xl border border-[#cedce8] p-6">
                <p class="text-[#0d151c] text-base font-medium leading-normal">Skills</p>
                <div class="grid min-h-[180px] grid-flow-col gap-6 grid-rows-[1fr_auto] items-end justify-items-center px-3">
                  <div class="border-[#49749c] bg-[#e7edf4] border-t-2 w-full" style="height: 60%;"></div>
                  <p class="text-[#49749c] text-[13px] font-bold leading-normal tracking-[0.015em]">Present</p>
                  <div class="border-[#49749c] bg-[#e7edf4] border-t-2 w-full" style="height: 50%;"></div>
                  <p class="text-[#49749c] text-[13px] font-bold leading-normal tracking-[0.015em]">Missing</p>
                </div>
              </div>
              <div class="flex min-w-72 flex-1 flex-col gap-2 rounded-xl border border-[#cedce8] p-6">
                <p class="text-[#0d151c] text-base font-medium leading-normal">Experience</p>
                <div class="grid min-h-[180px] grid-flow-col gap-6 grid-rows-[1fr_auto] items-end justify-items-center px-3">
                  <div class="border-[#49749c] bg-[#e7edf4] border-t-2 w-full" style="height: 30%;"></div>
                  <p class="text-[#49749c] text-[13px] font-bold leading-normal tracking-[0.015em]">Relevant</p>
                  <div class="border-[#49749c] bg-[#e7edf4] border-t-2 w-full" style="height: 90%;"></div>
                  <p class="text-[#49749c] text-[13px] font-bold leading-normal tracking-[0.015em]">Irrelevant</p>
                </div>
              </div>
              <div class="flex min-w-72 flex-1 flex-col gap-2 rounded-xl border border-[#cedce8] p-6">
                <p class="text-[#0d151c] text-base font-medium leading-normal">Formatting</p>
                <div class="grid min-h-[180px] grid-flow-col gap-6 grid-rows-[1fr_auto] items-end justify-items-center px-3">
                  <div class="border-[#49749c] bg-[#e7edf4] border-t-2 w-full" style="height: 90%;"></div>
                  <p class="text-[#49749c] text-[13px] font-bold leading-normal tracking-[0.015em]">Optimized</p>
                  <div class="border-[#49749c] bg-[#e7edf4] border-t-2 w-full" style="height: 70%;"></div>
                  <p class="text-[#49749c] text-[13px] font-bold leading-normal tracking-[0.015em]">Not Optimized</p>
                </div>
              </div>
            </div>
            <h2 class="text-[#0d151c] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Actionable Feedback</h2>
            <div class="flex gap-4 bg-slate-50 px-4 py-3">
              <div class="text-[#0d151c] flex items-center justify-center rounded-lg bg-[#e7edf4] shrink-0 size-12" data-icon="Hash" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M224,88H175.4l8.47-46.57a8,8,0,0,0-15.74-2.86l-9,49.43H111.4l8.47-46.57a8,8,0,0,0-15.74-2.86L95.14,88H48a8,8,0,0,0,0,16H92.23L83.5,152H32a8,8,0,0,0,0,16H80.6l-8.47,46.57a8,8,0,0,0,6.44,9.3A7.79,7.79,0,0,0,80,224a8,8,0,0,0,7.86-6.57l9-49.43H144.6l-8.47,46.57a8,8,0,0,0,6.44,9.3A7.79,7.79,0,0,0,144,224a8,8,0,0,0,7.86-6.57l9-49.43H208a8,8,0,0,0,0-16H163.77l8.73-48H224a8,8,0,0,0,0-16Zm-76.5,64H99.77l8.73-48h47.73Z"
                  ></path>
                </svg>
              </div>
              <div class="flex flex-1 flex-col justify-center">
                <p class="text-[#0d151c] text-base font-medium leading-normal">Keywords</p>
                <p class="text-[#49749c] text-sm font-normal leading-normal">
                  Ensure all critical keywords from the job description are present in your resume. Use synonyms and variations to cover a broader range.
                </p>
                <p class="text-[#49749c] text-sm font-normal leading-normal">High</p>
              </div>
            </div>
            <div class="flex gap-4 bg-slate-50 px-4 py-3">
              <div class="text-[#0d151c] flex items-center justify-center rounded-lg bg-[#e7edf4] shrink-0 size-12" data-icon="Code" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M69.12,94.15,28.5,128l40.62,33.85a8,8,0,1,1-10.24,12.29l-48-40a8,8,0,0,1,0-12.29l48-40a8,8,0,0,1,10.24,12.3Zm176,27.7-48-40a8,8,0,1,0-10.24,12.3L227.5,128l-40.62,33.85a8,8,0,1,0,10.24,12.29l48-40a8,8,0,0,0,0-12.29ZM162.73,32.48a8,8,0,0,0-10.25,4.79l-64,176a8,8,0,0,0,4.79,10.26A8.14,8.14,0,0,0,96,224a8,8,0,0,0,7.52-5.27l64-176A8,8,0,0,0,162.73,32.48Z"
                  ></path>
                </svg>
              </div>
              <div class="flex flex-1 flex-col justify-center">
                <p class="text-[#0d151c] text-base font-medium leading-normal">Skills</p>
                <p class="text-[#49749c] text-sm font-normal leading-normal">
                  Highlight your core skills and competencies that align with the job requirements. Provide specific examples of how you've applied these skills.
                </p>
                <p class="text-[#49749c] text-sm font-normal leading-normal">Medium</p>
              </div>
            </div>
            <div class="flex gap-4 bg-slate-50 px-4 py-3">
              <div class="text-[#0d151c] flex items-center justify-center rounded-lg bg-[#e7edf4] shrink-0 size-12" data-icon="Briefcase" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M216,56H176V48a24,24,0,0,0-24-24H104A24,24,0,0,0,80,48v8H40A16,16,0,0,0,24,72V200a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V72A16,16,0,0,0,216,56ZM96,48a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96ZM216,72v41.61A184,184,0,0,1,128,136a184.07,184.07,0,0,1-88-22.38V72Zm0,128H40V131.64A200.19,200.19,0,0,0,128,152a200.25,200.25,0,0,0,88-20.37V200ZM104,112a8,8,0,0,1,8-8h32a8,8,0,0,1,0,16H112A8,8,0,0,1,104,112Z"
                  ></path>
                </svg>
              </div>
              <div class="flex flex-1 flex-col justify-center">
                <p class="text-[#0d151c] text-base font-medium leading-normal">Experience</p>
                <p class="text-[#49749c] text-sm font-normal leading-normal">
                  Quantify your achievements and responsibilities in previous roles. Use action verbs to describe your contributions and impact.
                </p>
                <p class="text-[#49749c] text-sm font-normal leading-normal">High</p>
              </div>
            </div>
            <div class="flex gap-4 bg-slate-50 px-4 py-3">
              <div class="text-[#0d151c] flex items-center justify-center rounded-lg bg-[#e7edf4] shrink-0 size-12" data-icon="TextB" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M170.48,115.7A44,44,0,0,0,140,40H72a8,8,0,0,0-8,8V200a8,8,0,0,0,8,8h80a48,48,0,0,0,18.48-92.3ZM80,56h60a28,28,0,0,1,0,56H80Zm72,136H80V128h72a32,32,0,0,1,0,64Z"
                  ></path>
                </svg>
              </div>
              <div class="flex flex-1 flex-col justify-center">
                <p class="text-[#0d151c] text-base font-medium leading-normal">Formatting</p>
                <p class="text-[#49749c] text-sm font-normal leading-normal">
                  Use a clear and consistent format throughout your resume. Ensure proper spacing, bullet points, and section headings.
                </p>
                <p class="text-[#49749c] text-sm font-normal leading-normal">Low</p>
              </div>
            </div>
            <h2 class="text-[#0d151c] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Before/After Comparison</h2>
            <div class="pb-3">
              <div class="flex border-b border-[#cedce8] px-4 gap-8">
                <a class="flex flex-col items-center justify-center border-b-[3px] border-b-[#0b80ee] text-[#0d151c] pb-[13px] pt-4" href="#">
                  <p class="text-[#0d151c] text-sm font-bold leading-normal tracking-[0.015em]">Original Resume</p>
                </a>
                <a class="flex flex-col items-center justify-center border-b-[3px] border-b-transparent text-[#49749c] pb-[13px] pt-4" href="#">
                  <p class="text-[#49749c] text-sm font-bold leading-normal tracking-[0.015em]">Optimized Resume</p>
                </a>
              </div>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <textarea
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#0d151c] focus:outline-0 focus:ring-0 border border-[#cedce8] bg-slate-50 focus:border-[#cedce8] min-h-36 placeholder:text-[#49749c] p-[15px] text-base font-normal leading-normal"
                ></textarea>
              </label>
            </div>
            <h2 class="text-[#0d151c] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Improvement Suggestions</h2>
            <div class="flex gap-4 bg-slate-50 px-4 py-3">
              <div class="text-[#0d151c] flex items-center justify-center rounded-lg bg-[#e7edf4] shrink-0 size-12" data-icon="Hash" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M224,88H175.4l8.47-46.57a8,8,0,0,0-15.74-2.86l-9,49.43H111.4l8.47-46.57a8,8,0,0,0-15.74-2.86L95.14,88H48a8,8,0,0,0,0,16H92.23L83.5,152H32a8,8,0,0,0,0,16H80.6l-8.47,46.57a8,8,0,0,0,6.44,9.3A7.79,7.79,0,0,0,80,224a8,8,0,0,0,7.86-6.57l9-49.43H144.6l-8.47,46.57a8,8,0,0,0,6.44,9.3A7.79,7.79,0,0,0,144,224a8,8,0,0,0,7.86-6.57l9-49.43H208a8,8,0,0,0,0-16H163.77l8.73-48H224a8,8,0,0,0,0-16Zm-76.5,64H99.77l8.73-48h47.73Z"
                  ></path>
                </svg>
              </div>
              <div class="flex flex-1 flex-col justify-center">
                <p class="text-[#0d151c] text-base font-medium leading-normal">Keyword Optimization</p>
                <p class="text-[#49749c] text-sm font-normal leading-normal">
                  Incorporate missing keywords from the job description into your resume, focusing on areas where they naturally fit.
                </p>
                <p class="text-[#49749c] text-sm font-normal leading-normal">High Priority</p>
              </div>
            </div>
            <div class="flex gap-4 bg-slate-50 px-4 py-3">
              <div class="text-[#0d151c] flex items-center justify-center rounded-lg bg-[#e7edf4] shrink-0 size-12" data-icon="Code" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M69.12,94.15,28.5,128l40.62,33.85a8,8,0,1,1-10.24,12.29l-48-40a8,8,0,0,1,0-12.29l48-40a8,8,0,0,1,10.24,12.3Zm176,27.7-48-40a8,8,0,1,0-10.24,12.3L227.5,128l-40.62,33.85a8,8,0,1,0,10.24,12.29l48-40a8,8,0,0,0,0-12.29ZM162.73,32.48a8,8,0,0,0-10.25,4.79l-64,176a8,8,0,0,0,4.79,10.26A8.14,8.14,0,0,0,96,224a8,8,0,0,0,7.52-5.27l64-176A8,8,0,0,0,162.73,32.48Z"
                  ></path>
                </svg>
              </div>
              <div class="flex flex-1 flex-col justify-center">
                <p class="text-[#0d151c] text-base font-medium leading-normal">Skills Enhancement</p>
                <p class="text-[#49749c] text-sm font-normal leading-normal">
                  Expand on your skills section to include specific tools, technologies, and methodologies mentioned in the job description.
                </p>
                <p class="text-[#49749c] text-sm font-normal leading-normal">Medium Priority</p>
              </div>
            </div>
            <div class="flex gap-4 bg-slate-50 px-4 py-3">
              <div class="text-[#0d151c] flex items-center justify-center rounded-lg bg-[#e7edf4] shrink-0 size-12" data-icon="Briefcase" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M216,56H176V48a24,24,0,0,0-24-24H104A24,24,0,0,0,80,48v8H40A16,16,0,0,0,24,72V200a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V72A16,16,0,0,0,216,56ZM96,48a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96ZM216,72v41.61A184,184,0,0,1,128,136a184.07,184.07,0,0,1-88-22.38V72Zm0,128H40V131.64A200.19,200.19,0,0,0,128,152a200.25,200.25,0,0,0,88-20.37V200ZM104,112a8,8,0,0,1,8-8h32a8,8,0,0,1,0,16H112A8,8,0,0,1,104,112Z"
                  ></path>
                </svg>
              </div>
              <div class="flex flex-1 flex-col justify-center">
                <p class="text-[#0d151c] text-base font-medium leading-normal">Experience Refinement</p>
                <p class="text-[#49749c] text-sm font-normal leading-normal">
                  Revise your work experience descriptions to emphasize accomplishments and quantify results using metrics and data.
                </p>
                <p class="text-[#49749c] text-sm font-normal leading-normal">High Priority</p>
              </div>
            </div>
            <div class="flex gap-4 bg-slate-50 px-4 py-3">
              <div class="text-[#0d151c] flex items-center justify-center rounded-lg bg-[#e7edf4] shrink-0 size-12" data-icon="TextB" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M170.48,115.7A44,44,0,0,0,140,40H72a8,8,0,0,0-8,8V200a8,8,0,0,0,8,8h80a48,48,0,0,0,18.48-92.3ZM80,56h60a28,28,0,0,1,0,56H80Zm72,136H80V128h72a32,32,0,0,1,0,64Z"
                  ></path>
                </svg>
              </div>
              <div class="flex flex-1 flex-col justify-center">
                <p class="text-[#0d151c] text-base font-medium leading-normal">Formatting Review</p>
                <p class="text-[#49749c] text-sm font-normal leading-normal">
                  Review your resume's formatting for consistency and readability. Ensure proper use of bullet points, headings, and white space.
                </p>
                <p class="text-[#49749c] text-sm font-normal leading-normal">Low Priority</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
