<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <div class="gap-1 px-6 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col w-80">
            <div class="flex h-full min-h-[700px] flex-col justify-between bg-slate-50 p-4">
              <div class="flex flex-col gap-4">
                <h1 class="text-[#0d151c] text-base font-medium leading-normal">JobFit Pro</h1>
                <div class="flex flex-col gap-2">
                  <div class="flex items-center gap-3 px-3 py-2">
                    <div class="text-[#0d151c]" data-icon="House" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M218.83,103.77l-80-75.48a1.14,1.14,0,0,1-.11-.11,16,16,0,0,0-21.53,0l-.11.11L37.17,103.77A16,16,0,0,0,32,115.55V208a16,16,0,0,0,16,16H96a16,16,0,0,0,16-16V160h32v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V115.55A16,16,0,0,0,218.83,103.77ZM208,208H160V160a16,16,0,0,0-16-16H112a16,16,0,0,0-16,16v48H48V115.55l.11-.1L128,40l79.9,75.43.11.1Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-[#0d151c] text-sm font-medium leading-normal">Dashboard</p>
                  </div>
                  <div class="flex items-center gap-3 px-3 py-2">
                    <div class="text-[#0d151c]" data-icon="File" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M213.66,82.34l-56-56A8,8,0,0,0,152,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V88A8,8,0,0,0,213.66,82.34ZM160,51.31,188.69,80H160ZM200,216H56V40h88V88a8,8,0,0,0,8,8h48V216Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-[#0d151c] text-sm font-medium leading-normal">Job Description Review</p>
                  </div>
                  <div class="flex items-center gap-3 px-3 py-2">
                    <div class="text-[#0d151c]" data-icon="Monitor" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M208,40H48A24,24,0,0,0,24,64V176a24,24,0,0,0,24,24H208a24,24,0,0,0,24-24V64A24,24,0,0,0,208,40Zm8,136a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V64a8,8,0,0,1,8-8H208a8,8,0,0,1,8,8Zm-48,48a8,8,0,0,1-8,8H96a8,8,0,0,1,0-16h64A8,8,0,0,1,168,224Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-[#0d151c] text-sm font-medium leading-normal">Resume Content Monitoring</p>
                  </div>
                  <div class="flex items-center gap-3 px-3 py-2 rounded-full bg-[#e7edf4]">
                    <div class="text-[#0d151c]" data-icon="Flag" data-size="24px" data-weight="fill">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M224,48V168a8,8,0,0,1-2.76,6c-15.28,13.23-29.89,18-43.82,18-18.91,0-36.57-8.74-53-16.85C97.87,162,74.79,150.61,48,171.77V216a8,8,0,0,1-16,0V48a8,8,0,0,1,2.77-6h0c36-31.18,68.31-15.21,96.79-1.12C159,54.46,182.79,66.2,210.76,42A8,8,0,0,1,224,48Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-[#0d151c] text-sm font-medium leading-normal">Flagged Content Management</p>
                  </div>
                  <div class="flex items-center gap-3 px-3 py-2">
                    <div class="text-[#0d151c]" data-icon="Check" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path>
                      </svg>
                    </div>
                    <p class="text-[#0d151c] text-sm font-medium leading-normal">Approval Workflows</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <p class="text-[#0d151c] tracking-light text-[32px] font-bold leading-tight min-w-72">Flagged Content Management</p>
            </div>
            <h2 class="text-[#0d151c] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Flagged Content</h2>
            <div class="px-4 py-3 @container">
              <div class="flex overflow-hidden rounded-xl border border-[#cedce8] bg-slate-50">
                <table class="flex-1">
                  <thead>
                    <tr class="bg-slate-50">
                      <th class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-120 px-4 py-3 text-left text-[#0d151c] w-[400px] text-sm font-medium leading-normal">User</th>
                      <th class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-240 px-4 py-3 text-left text-[#0d151c] w-[400px] text-sm font-medium leading-normal">
                        Content Type
                      </th>
                      <th class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-360 px-4 py-3 text-left text-[#0d151c] w-[400px] text-sm font-medium leading-normal">
                        Flag Reason
                      </th>
                      <th class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-480 px-4 py-3 text-left text-[#0d151c] w-60 text-sm font-medium leading-normal">Status</th>
                      <th class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-600 px-4 py-3 text-left text-[#0d151c] w-60 text-[#49749c] text-sm font-medium leading-normal">
                        Actions
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border-t border-t-[#cedce8]">
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-120 h-[72px] px-4 py-2 w-[400px] text-[#0d151c] text-sm font-normal leading-normal">
                        Liam Harper
                      </td>
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-240 h-[72px] px-4 py-2 w-[400px] text-[#49749c] text-sm font-normal leading-normal">Resume</td>
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-360 h-[72px] px-4 py-2 w-[400px] text-[#49749c] text-sm font-normal leading-normal">
                        Inappropriate Language
                      </td>
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-480 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                        <button
                          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 bg-[#e7edf4] text-[#0d151c] text-sm font-medium leading-normal w-full"
                        >
                          <span class="truncate">Pending</span>
                        </button>
                      </td>
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-600 h-[72px] px-4 py-2 w-60 text-[#49749c] text-sm font-bold leading-normal tracking-[0.015em]">
                        Review
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#cedce8]">
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-120 h-[72px] px-4 py-2 w-[400px] text-[#0d151c] text-sm font-normal leading-normal">
                        Olivia Bennett
                      </td>
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-240 h-[72px] px-4 py-2 w-[400px] text-[#49749c] text-sm font-normal leading-normal">
                        Job Description
                      </td>
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-360 h-[72px] px-4 py-2 w-[400px] text-[#49749c] text-sm font-normal leading-normal">
                        Discriminatory Requirements
                      </td>
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-480 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                        <button
                          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 bg-[#e7edf4] text-[#0d151c] text-sm font-medium leading-normal w-full"
                        >
                          <span class="truncate">Approved</span>
                        </button>
                      </td>
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-600 h-[72px] px-4 py-2 w-60 text-[#49749c] text-sm font-bold leading-normal tracking-[0.015em]">
                        View
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#cedce8]">
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-120 h-[72px] px-4 py-2 w-[400px] text-[#0d151c] text-sm font-normal leading-normal">
                        Noah Carter
                      </td>
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-240 h-[72px] px-4 py-2 w-[400px] text-[#49749c] text-sm font-normal leading-normal">Resume</td>
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-360 h-[72px] px-4 py-2 w-[400px] text-[#49749c] text-sm font-normal leading-normal">
                        Misleading Information
                      </td>
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-480 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                        <button
                          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 bg-[#e7edf4] text-[#0d151c] text-sm font-medium leading-normal w-full"
                        >
                          <span class="truncate">Rejected</span>
                        </button>
                      </td>
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-600 h-[72px] px-4 py-2 w-60 text-[#49749c] text-sm font-bold leading-normal tracking-[0.015em]">
                        View
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#cedce8]">
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-120 h-[72px] px-4 py-2 w-[400px] text-[#0d151c] text-sm font-normal leading-normal">
                        Emma Davis
                      </td>
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-240 h-[72px] px-4 py-2 w-[400px] text-[#49749c] text-sm font-normal leading-normal">
                        Job Description
                      </td>
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-360 h-[72px] px-4 py-2 w-[400px] text-[#49749c] text-sm font-normal leading-normal">
                        Unrealistic Expectations
                      </td>
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-480 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                        <button
                          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 bg-[#e7edf4] text-[#0d151c] text-sm font-medium leading-normal w-full"
                        >
                          <span class="truncate">Pending</span>
                        </button>
                      </td>
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-600 h-[72px] px-4 py-2 w-60 text-[#49749c] text-sm font-bold leading-normal tracking-[0.015em]">
                        Review
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#cedce8]">
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-120 h-[72px] px-4 py-2 w-[400px] text-[#0d151c] text-sm font-normal leading-normal">
                        Ethan Foster
                      </td>
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-240 h-[72px] px-4 py-2 w-[400px] text-[#49749c] text-sm font-normal leading-normal">Resume</td>
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-360 h-[72px] px-4 py-2 w-[400px] text-[#49749c] text-sm font-normal leading-normal">
                        Plagiarism
                      </td>
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-480 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                        <button
                          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 bg-[#e7edf4] text-[#0d151c] text-sm font-medium leading-normal w-full"
                        >
                          <span class="truncate">Pending</span>
                        </button>
                      </td>
                      <td class="table-7750048c-db8e-4890-8f55-332d281f6e23-column-600 h-[72px] px-4 py-2 w-60 text-[#49749c] text-sm font-bold leading-normal tracking-[0.015em]">
                        Review
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <style>
                          @container(max-width:120px){.table-7750048c-db8e-4890-8f55-332d281f6e23-column-120{display: none;}}
                @container(max-width:240px){.table-7750048c-db8e-4890-8f55-332d281f6e23-column-240{display: none;}}
                @container(max-width:360px){.table-7750048c-db8e-4890-8f55-332d281f6e23-column-360{display: none;}}
                @container(max-width:480px){.table-7750048c-db8e-4890-8f55-332d281f6e23-column-480{display: none;}}
                @container(max-width:600px){.table-7750048c-db8e-4890-8f55-332d281f6e23-column-600{display: none;}}
              </style>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
