<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div
      class="relative flex size-full min-h-screen flex-col bg-gray-50 group/design-root overflow-x-hidden"
      style="--select-button-svg: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724px%27 height=%2724px%27 fill=%27rgb(92,116,138)%27 viewBox=%270 0 256 256%27%3e%3cpath d=%27M181.66,170.34a8,8,0,0,1,0,11.32l-48,48a8,8,0,0,1-11.32,0l-48-48a8,8,0,0,1,11.32-11.32L128,212.69l42.34-42.35A8,8,0,0,1,181.66,170.34Zm-96-84.68L128,43.31l42.34,42.35a8,8,0,0,0,11.32-11.32l-48-48a8,8,0,0,0-11.32,0l-48,48A8,8,0,0,0,85.66,85.66Z%27%3e%3c/path%3e%3c/svg%3e'); font-family: Inter, &quot;Noto Sans&quot;, sans-serif;"
    >
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#eaedf1] px-10 py-3">
          <div class="flex items-center gap-4 text-[#101518]">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M44 11.2727C44 14.0109 39.8386 16.3957 33.69 17.6364C39.8386 18.877 44 21.2618 44 24C44 26.7382 39.8386 29.123 33.69 30.3636C39.8386 31.6043 44 33.9891 44 36.7273C44 40.7439 35.0457 44 24 44C12.9543 44 4 40.7439 4 36.7273C4 33.9891 8.16144 31.6043 14.31 30.3636C8.16144 29.123 4 26.7382 4 24C4 21.2618 8.16144 18.877 14.31 17.6364C8.16144 16.3957 4 14.0109 4 11.2727C4 7.25611 12.9543 4 24 4C35.0457 4 44 7.25611 44 11.2727Z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
            <h2 class="text-[#101518] text-lg font-bold leading-tight tracking-[-0.015em]">JobFit Pro</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-[#101518] text-sm font-medium leading-normal" href="#">Dashboard</a>
              <a class="text-[#101518] text-sm font-medium leading-normal" href="#">Resume Builder</a>
              <a class="text-[#101518] text-sm font-medium leading-normal" href="#">Job Matching</a>
              <a class="text-[#101518] text-sm font-medium leading-normal" href="#">Cover Letter Builder</a>
              <a class="text-[#101518] text-sm font-medium leading-normal" href="#">Resources</a>
            </div>
            <button
              class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 bg-[#eaedf1] text-[#101518] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
            >
              <div class="text-[#101518]" data-icon="Bell" data-size="20px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M221.8,175.94C216.25,166.38,208,139.33,208,104a80,80,0,1,0-160,0c0,35.34-8.26,62.38-13.81,71.94A16,16,0,0,0,48,200H88.81a40,40,0,0,0,78.38,0H208a16,16,0,0,0,13.8-24.06ZM128,216a24,24,0,0,1-22.62-16h45.24A24,24,0,0,1,128,216ZM48,184c7.7-13.24,16-43.92,16-80a64,64,0,1,1,128,0c0,36.05,8.28,66.73,16,80Z"
                  ></path>
                </svg>
              </div>
            </button>
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAJ_ay41cmOuxaz_xbzHTCIdFOSThPNc6cNAwL0Ro9KVxAuqXK1S_nO0UJmwSkrIn0XcFNj8UfB_8F1QQ3tgFMNjKBoHqya2YYgdj4ak6fjf5UtTcu3A0V-AspjoaZh_DRoZtHHnVhQFxjaBk3cc0AMwk1lQSWAHZdv-jnxaQxGaz1Hewh3Jhy6vgMQFJ203-jdOFGdjCv0O05ojxfB94BP4W42Bw1ohHBv6e_2WkU9hy95YSbzOiYmsjdKb2QNXDw-X_rBgLQq");'
            ></div>
          </div>
        </header>
        <div class="gap-1 px-6 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col w-80">
            <div class="px-4 py-3">
              <label class="flex flex-col min-w-40 h-12 w-full">
                <div class="flex w-full flex-1 items-stretch rounded-xl h-full">
                  <div
                    class="text-[#5c748a] flex border-none bg-[#eaedf1] items-center justify-center pl-4 rounded-l-xl border-r-0"
                    data-icon="MagnifyingGlass"
                    data-size="24px"
                    data-weight="regular"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                      ></path>
                    </svg>
                  </div>
                  <input
                    class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#101518] focus:outline-0 focus:ring-0 border-none bg-[#eaedf1] focus:border-none h-full placeholder:text-[#5c748a] px-4 rounded-r-none border-r-0 pr-2 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal"
                    value="Software Engineer"
                  />
                  <div class="flex items-center justify-center rounded-r-xl border-l-0 border-none bg-[#eaedf1] pr-2 pr-4">
                    <button
                      class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full bg-transparent text-[#101518] gap-2 text-base font-bold leading-normal tracking-[0.015em] h-auto min-w-0 px-0"
                    >
                      <div class="text-[#5c748a]" data-icon="XCircle" data-size="24px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                          <path
                            d="M165.66,101.66,139.31,128l26.35,26.34a8,8,0,0,1-11.32,11.32L128,139.31l-26.34,26.35a8,8,0,0,1-11.32-11.32L116.69,128,90.34,101.66a8,8,0,0,1,11.32-11.32L128,116.69l26.34-26.35a8,8,0,0,1,11.32,11.32ZM232,128A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z"
                          ></path>
                        </svg>
                      </div>
                    </button>
                  </div>
                </div>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <select
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#101518] focus:outline-0 focus:ring-0 border border-[#d4dce2] bg-gray-50 focus:border-[#d4dce2] h-14 bg-[image:--select-button-svg] placeholder:text-[#5c748a] p-[15px] text-base font-normal leading-normal"
                >
                  <option value="one"></option>
                  <option value="two">two</option>
                  <option value="three">three</option>
                </select>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <select
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#101518] focus:outline-0 focus:ring-0 border border-[#d4dce2] bg-gray-50 focus:border-[#d4dce2] h-14 bg-[image:--select-button-svg] placeholder:text-[#5c748a] p-[15px] text-base font-normal leading-normal"
                >
                  <option value="one"></option>
                  <option value="two">two</option>
                  <option value="three">three</option>
                </select>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <select
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#101518] focus:outline-0 focus:ring-0 border border-[#d4dce2] bg-gray-50 focus:border-[#d4dce2] h-14 bg-[image:--select-button-svg] placeholder:text-[#5c748a] p-[15px] text-base font-normal leading-normal"
                >
                  <option value="one"></option>
                  <option value="two">two</option>
                  <option value="three">three</option>
                </select>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <select
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#101518] focus:outline-0 focus:ring-0 border border-[#d4dce2] bg-gray-50 focus:border-[#d4dce2] h-14 bg-[image:--select-button-svg] placeholder:text-[#5c748a] p-[15px] text-base font-normal leading-normal"
                >
                  <option value="one"></option>
                  <option value="two">two</option>
                  <option value="three">three</option>
                </select>
              </label>
            </div>
            <div class="flex px-4 py-3">
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 flex-1 bg-[#dce8f3] text-[#101518] text-sm font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">Search</span>
              </button>
            </div>
          </div>
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-[#101518] tracking-light text-[32px] font-bold leading-tight min-w-72">Job Matching</p></div>
            <h2 class="text-[#101518] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Recommended Jobs</h2>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#5c748a] text-sm font-normal leading-normal">ATS Score: 92</p>
                    <p class="text-[#101518] text-base font-bold leading-tight">Software Engineer</p>
                    <p class="text-[#5c748a] text-sm font-normal leading-normal">Tech Innovators Inc. · Remote</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 flex-row-reverse bg-[#eaedf1] text-[#101518] text-sm font-medium leading-normal w-fit"
                  >
                    <span class="truncate">View Job</span>
                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuD9Vq-pwcgGMojz4jmEwEVeONDbBHvrxt2IsOmazIXA5bEnQK36Wcj6LWIHp1Am8k_d8VbAzPR-unRZXL1-RtlfYFXTYc09vARNAU1GRoDdKkxSmZcv1nofHQfFC8hlpEOSdQ2CRuzS0gkK7sCoh4yWJJPFBWfWs2BQSpKqwT729IeV_F-1zSQZWlfRKkhwL5JlKxOrgBDbla5unm6oKnitsTVxY87LdAyh7EiIKIkUq72wZnXyh6aVWZxbZiTq_28UNtgHU4vf");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#5c748a] text-sm font-normal leading-normal">ATS Score: 88</p>
                    <p class="text-[#101518] text-base font-bold leading-tight">Software Developer</p>
                    <p class="text-[#5c748a] text-sm font-normal leading-normal">CodeCrafters LLC · Remote</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 flex-row-reverse bg-[#eaedf1] text-[#101518] text-sm font-medium leading-normal w-fit"
                  >
                    <span class="truncate">View Job</span>
                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAQvGOdzlGKkd1FfiBdfjr4eDwP-mdgSwP_HcnagzcBYO69wMD-AqFjYLc9CZ2fBM7wsFf7utJDuAPfrfO4oMnUPXes6lQhbC5OOhN2N6a4FdxVegKj1epgqp81DBTf5d_NFzKfr9FpkOBHhNsK9hg1UTvaqh-5Cu6lYdkpgOH8OTrn_yb4-aJ-JuZ4AFnEmaBP3cljnxbpVqncTWsgYzSVCFaMA2T1Wci_CUaA-0Mc5XzyiBaS_YcurigOMkl_tmmC8yqNICaD");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#5c748a] text-sm font-normal leading-normal">ATS Score: 85</p>
                    <p class="text-[#101518] text-base font-bold leading-tight">Junior Software Engineer</p>
                    <p class="text-[#5c748a] text-sm font-normal leading-normal">Digital Dynamics Corp · Remote</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 flex-row-reverse bg-[#eaedf1] text-[#101518] text-sm font-medium leading-normal w-fit"
                  >
                    <span class="truncate">View Job</span>
                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDVWkkefcXkJWFUtqXhrjrELGE8y7LCdrJqzhsYLC4v2RJzucCxtPmGshwHKCO39Lyk4vii9KPX-37BfyZ6zpEEtbSu2Z4ehNFBwg_luGUtRnLV15TuL6iAzy1zgsz5tw30SrFDkPKfk47aUVX_E1XGWjrG2trgChElWZKy_I0rwQFQoRMkWQ_scSKYPJFWGPz02bvTWeehyzkLpnnNHqmb_DolJg2HizU6gxSiGMUWRpITps_C3hkd3-Wx0UWSoyIEckIK0EUh");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#5c748a] text-sm font-normal leading-normal">ATS Score: 82</p>
                    <p class="text-[#101518] text-base font-bold leading-tight">Associate Software Engineer</p>
                    <p class="text-[#5c748a] text-sm font-normal leading-normal">Cloud Solutions Inc. · Remote</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 flex-row-reverse bg-[#eaedf1] text-[#101518] text-sm font-medium leading-normal w-fit"
                  >
                    <span class="truncate">View Job</span>
                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBLY3tC8siZF3qneMT92UWMmmZICfbooxdB-mKzqD74W0evTtb8elGzbhbpO50wAufqfptQNc78nT2xU9UDAOtuxISlrgsfdHtmEyZCE1Zyy5LiIATWDSeJRpG3UgUWzgT8iEDvQ9V80NQOOwVFIVO4KhxriwBRcInrUjARN1Whnmh7MjD0RwqSph9UlIjzSnHwoTOzBPwDmJJ6nTh-JiyCLNIkdgO25fbxodQUUwgifUO-PEqtZPPAG9jJSF99xXcLZKZw_oza");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#5c748a] text-sm font-normal leading-normal">ATS Score: 79</p>
                    <p class="text-[#101518] text-base font-bold leading-tight">Software Engineer Intern</p>
                    <p class="text-[#5c748a] text-sm font-normal leading-normal">FutureTech Startups · Remote</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 flex-row-reverse bg-[#eaedf1] text-[#101518] text-sm font-medium leading-normal w-fit"
                  >
                    <span class="truncate">View Job</span>
                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBP2S0RYIHD6GQ-TLEsMedozLJe5729nbUEedestW1NmNOXSlvkkZzYkw580sJ7wuPhDn7kmurZ-diF2bfI33aWx08lM4SPiMTCSTq9rM8mvip2MZEgwXy1HfS54CxWsHDOzAHbqnMekikn74gNPF5isFys1Tmli5onFYogJjl54riOnUWT6I9t2nx7Xq8HCPGeGkzpGaNwJGi2NxEoII4yU-NPaekbLGh5Al0HVxl3V5aLiTiOTVKPLSw4H0m3lKQitYsHRcIj");'
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
  