<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e7edf4] px-10 py-3">
          <div class="flex items-center gap-8">
            <div class="flex items-center gap-4 text-[#0d141c]">
              <div class="size-4">
                <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M44 11.2727C44 14.0109 39.8386 16.3957 33.69 17.6364C39.8386 18.877 44 21.2618 44 24C44 26.7382 39.8386 29.123 33.69 30.3636C39.8386 31.6043 44 33.9891 44 36.7273C44 40.7439 35.0457 44 24 44C12.9543 44 4 40.7439 4 36.7273C4 33.9891 8.16144 31.6043 14.31 30.3636C8.16144 29.123 4 26.7382 4 24C4 21.2618 8.16144 18.877 14.31 17.6364C8.16144 16.3957 4 14.0109 4 11.2727C4 7.25611 12.9543 4 24 4C35.0457 4 44 7.25611 44 11.2727Z"
                    fill="currentColor"
                  ></path>
                </svg>
              </div>
              <h2 class="text-[#0d141c] text-lg font-bold leading-tight tracking-[-0.015em]">JobFit Pro</h2>
            </div>
            <div class="flex items-center gap-9">
              <a class="text-[#0d141c] text-sm font-medium leading-normal" href="#">Dashboard</a>
              <a class="text-[#0d141c] text-sm font-medium leading-normal" href="#">Jobs</a>
              <a class="text-[#0d141c] text-sm font-medium leading-normal" href="#">Candidates</a>
              <a class="text-[#0d141c] text-sm font-medium leading-normal" href="#">Reports</a>
              <a class="text-[#0d141c] text-sm font-medium leading-normal" href="#">Settings</a>
            </div>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <label class="flex flex-col min-w-40 !h-10 max-w-64">
              <div class="flex w-full flex-1 items-stretch rounded-lg h-full">
                <div
                  class="text-[#49739c] flex border-none bg-[#e7edf4] items-center justify-center pl-4 rounded-l-lg border-r-0"
                  data-icon="MagnifyingGlass"
                  data-size="24px"
                  data-weight="regular"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                    ></path>
                  </svg>
                </div>
                <input
                  placeholder="Search"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0d141c] focus:outline-0 focus:ring-0 border-none bg-[#e7edf4] focus:border-none h-full placeholder:text-[#49739c] px-4 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal"
                  value=""
                />
              </div>
            </label>
            <button
              class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 bg-[#e7edf4] text-[#0d141c] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
            >
              <div class="text-[#0d141c]" data-icon="Bell" data-size="20px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M221.8,175.94C216.25,166.38,208,139.33,208,104a80,80,0,1,0-160,0c0,35.34-8.26,62.38-13.81,71.94A16,16,0,0,0,48,200H88.81a40,40,0,0,0,78.38,0H208a16,16,0,0,0,13.8-24.06ZM128,216a24,24,0,0,1-22.62-16h45.24A24,24,0,0,1,128,216ZM48,184c7.7-13.24,16-43.92,16-80a64,64,0,1,1,128,0c0,36.05,8.28,66.73,16,80Z"
                  ></path>
                </svg>
              </div>
            </button>
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAfCdSGuRMxHWi2-8hv9UPJzQS5WDBTPtlM4irNuij9MpBjm6PP6fNG3BMbveKZJVZbY7mzr0Kj3eAj7wDENFbLhY2WqkoJOlapRb3dqr4Zxn-US7DnGyjn4T4cffr2YtoYqU5btnlmRj9fIveF7y97FqOjRoCDLxSCylbhOYJsgYEdzeEbEAV_19pqIkxThH9exdJFHp6mi1ONcUrH3Cb7ncLltqSc18M77mnYhHehQ_5YbYnk6ua3Vfio2sZVPZTRAbXNmUko");'
            ></div>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <div class="flex min-w-72 flex-col gap-3">
                <p class="text-[#0d141c] tracking-light text-[32px] font-bold leading-tight">Dashboard</p>
                <p class="text-[#49739c] text-sm font-normal leading-normal">Welcome back, <%= com.name %></p>
              </div>
            </div>
            <div class="flex flex-wrap gap-4 p-4">
              <div class="flex min-w-[158px] flex-1 flex-col gap-2 rounded-lg p-6 bg-[#e7edf4]">
                <p class="text-[#0d141c] text-base font-medium leading-normal">Jobs Posted</p>
                <p class="text-[#0d141c] tracking-light text-2xl font-bold leading-tight">12</p>
              </div>
              <div class="flex min-w-[158px] flex-1 flex-col gap-2 rounded-lg p-6 bg-[#e7edf4]">
                <p class="text-[#0d141c] text-base font-medium leading-normal">Active Candidates</p>
                <p class="text-[#0d141c] tracking-light text-2xl font-bold leading-tight">75</p>
              </div>
              <div class="flex min-w-[158px] flex-1 flex-col gap-2 rounded-lg p-6 bg-[#e7edf4]">
                <p class="text-[#0d141c] text-base font-medium leading-normal">Average ATS Score</p>
                <p class="text-[#0d141c] tracking-light text-2xl font-bold leading-tight">82%</p>
              </div>
            </div>
            <h2 class="text-[#0d141c] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Job Postings</h2>
            <div class="px-4 py-3 @container">
              <div class="flex overflow-hidden rounded-lg border border-[#cedbe8] bg-slate-50">
                <table class="flex-1">
                  <thead>
                    <tr class="bg-slate-50">
                      <th class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-120 px-4 py-3 text-left text-[#0d141c] w-[400px] text-sm font-medium leading-normal">
                        Job Title
                      </th>
                      <th class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-240 px-4 py-3 text-left text-[#0d141c] w-[400px] text-sm font-medium leading-normal">
                        Department
                      </th>
                      <th class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-360 px-4 py-3 text-left text-[#0d141c] w-60 text-sm font-medium leading-normal">Status</th>
                      <th class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-480 px-4 py-3 text-left text-[#0d141c] w-[400px] text-sm font-medium leading-normal">
                        Applicants
                      </th>
                      <th class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-600 px-4 py-3 text-left text-[#0d141c] w-[400px] text-sm font-medium leading-normal">
                        ATS Score
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border-t border-t-[#cedbe8]">
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-120 h-[72px] px-4 py-2 w-[400px] text-[#0d141c] text-sm font-normal leading-normal">
                        Senior Software Engineer
                      </td>
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-240 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal">
                        Engineering
                      </td>
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-360 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                        <button
                          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 bg-[#e7edf4] text-[#0d141c] text-sm font-medium leading-normal w-full"
                        >
                          <span class="truncate">Open</span>
                        </button>
                      </td>
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-480 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal">25</td>
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-600 h-[72px] px-4 py-2 w-[400px] text-sm font-normal leading-normal">
                        <div class="flex items-center gap-3">
                          <div class="w-[88px] overflow-hidden rounded-sm bg-[#cedbe8]"><div class="h-1 rounded-full bg-[#0c7ff2]" style="width: 85.2273%;"></div></div>
                          <p class="text-[#0d141c] text-sm font-medium leading-normal">75</p>
                        </div>
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#cedbe8]">
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-120 h-[72px] px-4 py-2 w-[400px] text-[#0d141c] text-sm font-normal leading-normal">
                        Product Manager
                      </td>
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-240 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal">Product</td>
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-360 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                        <button
                          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 bg-[#e7edf4] text-[#0d141c] text-sm font-medium leading-normal w-full"
                        >
                          <span class="truncate">Open</span>
                        </button>
                      </td>
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-480 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal">18</td>
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-600 h-[72px] px-4 py-2 w-[400px] text-sm font-normal leading-normal">
                        <div class="flex items-center gap-3">
                          <div class="w-[88px] overflow-hidden rounded-sm bg-[#cedbe8]"><div class="h-1 rounded-full bg-[#0c7ff2]" style="width: 96.5909%;"></div></div>
                          <p class="text-[#0d141c] text-sm font-medium leading-normal">85</p>
                        </div>
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#cedbe8]">
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-120 h-[72px] px-4 py-2 w-[400px] text-[#0d141c] text-sm font-normal leading-normal">
                        UX Designer
                      </td>
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-240 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal">Design</td>
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-360 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                        <button
                          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 bg-[#e7edf4] text-[#0d141c] text-sm font-medium leading-normal w-full"
                        >
                          <span class="truncate">Closed</span>
                        </button>
                      </td>
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-480 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal">32</td>
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-600 h-[72px] px-4 py-2 w-[400px] text-sm font-normal leading-normal">
                        <div class="flex items-center gap-3">
                          <div class="w-[88px] overflow-hidden rounded-sm bg-[#cedbe8]"><div class="h-1 rounded-full bg-[#0c7ff2]" style="width: 100%;"></div></div>
                          <p class="text-[#0d141c] text-sm font-medium leading-normal">92</p>
                        </div>
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#cedbe8]">
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-120 h-[72px] px-4 py-2 w-[400px] text-[#0d141c] text-sm font-normal leading-normal">
                        Data Scientist
                      </td>
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-240 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal">
                        Analytics
                      </td>
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-360 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                        <button
                          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 bg-[#e7edf4] text-[#0d141c] text-sm font-medium leading-normal w-full"
                        >
                          <span class="truncate">Open</span>
                        </button>
                      </td>
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-480 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal">20</td>
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-600 h-[72px] px-4 py-2 w-[400px] text-sm font-normal leading-normal">
                        <div class="flex items-center gap-3">
                          <div class="w-[88px] overflow-hidden rounded-sm bg-[#cedbe8]"><div class="h-1 rounded-full bg-[#0c7ff2]" style="width: 90.9091%;"></div></div>
                          <p class="text-[#0d141c] text-sm font-medium leading-normal">80</p>
                        </div>
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#cedbe8]">
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-120 h-[72px] px-4 py-2 w-[400px] text-[#0d141c] text-sm font-normal leading-normal">
                        Marketing Specialist
                      </td>
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-240 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal">
                        Marketing
                      </td>
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-360 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                        <button
                          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 bg-[#e7edf4] text-[#0d141c] text-sm font-medium leading-normal w-full"
                        >
                          <span class="truncate">Open</span>
                        </button>
                      </td>
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-480 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal">15</td>
                      <td class="table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-600 h-[72px] px-4 py-2 w-[400px] text-sm font-normal leading-normal">
                        <div class="flex items-center gap-3">
                          <div class="w-[88px] overflow-hidden rounded-sm bg-[#cedbe8]"><div class="h-1 rounded-full bg-[#0c7ff2]" style="width: 79.5455%;"></div></div>
                          <p class="text-[#0d141c] text-sm font-medium leading-normal">70</p>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <style>
                          @container(max-width:120px){.table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-120{display: none;}}
                @container(max-width:240px){.table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-240{display: none;}}
                @container(max-width:360px){.table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-360{display: none;}}
                @container(max-width:480px){.table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-480{display: none;}}
                @container(max-width:600px){.table-34e39061-edc5-4007-9e2c-f8fe8e5ec79f-column-600{display: none;}}
              </style>
            </div>
            <h2 class="text-[#0d141c] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Candidate Pipeline</h2>
            <div class="flex flex-wrap gap-4 px-4 py-6">
              <div class="flex min-w-72 flex-1 flex-col gap-2 rounded-lg border border-[#cedbe8] p-6">
                <p class="text-[#0d141c] text-base font-medium leading-normal">Candidate Pipeline</p>
                <div class="grid min-h-[180px] gap-x-4 gap-y-6 grid-cols-[auto_1fr] items-center py-3">
                  <p class="text-[#49739c] text-[13px] font-bold leading-normal tracking-[0.015em]">Application Received</p>
                  <div class="h-full flex-1"><div class="border-[#49739c] bg-[#e7edf4] border-r-2 h-full" style="width: 90%;"></div></div>
                  <p class="text-[#49739c] text-[13px] font-bold leading-normal tracking-[0.015em]">Screening</p>
                  <div class="h-full flex-1"><div class="border-[#49739c] bg-[#e7edf4] border-r-2 h-full" style="width: 10%;"></div></div>
                  <p class="text-[#49739c] text-[13px] font-bold leading-normal tracking-[0.015em]">Interview</p>
                  <div class="h-full flex-1"><div class="border-[#49739c] bg-[#e7edf4] border-r-2 h-full" style="width: 50%;"></div></div>
                  <p class="text-[#49739c] text-[13px] font-bold leading-normal tracking-[0.015em]">Offer</p>
                  <div class="h-full flex-1"><div class="border-[#49739c] bg-[#e7edf4] border-r-2 h-full" style="width: 100%;"></div></div>
                  <p class="text-[#49739c] text-[13px] font-bold leading-normal tracking-[0.015em]">Hired</p>
                  <div class="h-full flex-1"><div class="border-[#49739c] bg-[#e7edf4] border-r-2 h-full" style="width: 80%;"></div></div>
                </div>
              </div>
            </div>
                  <div class="flex justify-around">
                    <p class="text-[#49739c] text-[13px] font-bold leading-normal tracking-[0.015em]">Jan</p>
                    <p class="text-[#49739c] text-[13px] font-bold leading-normal tracking-[0.015em]">Feb</p>
                    <p class="text-[#49739c] text-[13px] font-bold leading-normal tracking-[0.015em]">Mar</p>
                    <p class="text-[#49739c] text-[13px] font-bold leading-normal tracking-[0.015em]">Apr</p>
                    <p class="text-[#49739c] text-[13px] font-bold leading-normal tracking-[0.015em]">May</p>
                    <p class="text-[#49739c] text-[13px] font-bold leading-normal tracking-[0.015em]">Jun</p>
                  </div>
                </div>
              </div>
              
            <div class="flex justify-stretch">
              <div class="flex flex-1 gap-3 flex-wrap px-4 py-3 justify-start">
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#0c7ff2] text-slate-50 text-sm font-bold leading-normal tracking-[0.015em]"
                >
                  <a href="/job_creation" class="truncate">Post a Job</a>
                  <a href=""></a>

                </button>
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#e7edf4] text-[#0d141c] text-sm font-bold leading-normal tracking-[0.015em]"
                >
                  <span class="truncate">Review Candidates</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
