<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-gray-50 group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#eaedf1] px-10 py-3">
          <div class="flex items-center gap-4 text-[#101518]">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M44 11.2727C44 14.0109 39.8386 16.3957 33.69 17.6364C39.8386 18.877 44 21.2618 44 24C44 26.7382 39.8386 29.123 33.69 30.3636C39.8386 31.6043 44 33.9891 44 36.7273C44 40.7439 35.0457 44 24 44C12.9543 44 4 40.7439 4 36.7273C4 33.9891 8.16144 31.6043 14.31 30.3636C8.16144 29.123 4 26.7382 4 24C4 21.2618 8.16144 18.877 14.31 17.6364C8.16144 16.3957 4 14.0109 4 11.2727C4 7.25611 12.9543 4 24 4C35.0457 4 44 7.25611 44 11.2727Z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
            <h2 class="text-[#101518] text-lg font-bold leading-tight tracking-[-0.015em]">JobFit Pro</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-[#101518] text-sm font-medium leading-normal" href="#">Dashboard</a>
              <a class="text-[#101518] text-sm font-medium leading-normal" href="#">Candidates</a>
              <a class="text-[#101518] text-sm font-medium leading-normal" href="#">Jobs</a>
              <a class="text-[#101518] text-sm font-medium leading-normal" href="#">Analytics</a>
              <a class="text-[#101518] text-sm font-medium leading-normal" href="#">Settings</a>
            </div>
            <button
              class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 bg-[#eaedf1] text-[#101518] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
            >
              <div class="text-[#101518]" data-icon="Bell" data-size="20px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M221.8,175.94C216.25,166.38,208,139.33,208,104a80,80,0,1,0-160,0c0,35.34-8.26,62.38-13.81,71.94A16,16,0,0,0,48,200H88.81a40,40,0,0,0,78.38,0H208a16,16,0,0,0,13.8-24.06ZM128,216a24,24,0,0,1-22.62-16h45.24A24,24,0,0,1,128,216ZM48,184c7.7-13.24,16-43.92,16-80a64,64,0,1,1,128,0c0,36.05,8.28,66.73,16,80Z"
                  ></path>
                </svg>
              </div>
            </button>
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAlvhIZf-f4gvhhg6x6Zqu_6aDAScGzcAo9ylxCV0DbEcQPi0HquqNz3pPjuOs4JJzJhqekXJnRAJhxYMQXuKaRFLuuXmuCdSi7pc0Is9UqjSLha5IHgfl5RIfEYgM9T9Ra9cODs66InmLHen-o3pPb-SPZl4_rUPNxzYcbuqRLWAtu_hVWXIdWpTIGEzXrrrMfEqhLeBiJJ6Suk0e3SNAqliw6yOKix_V0XLFUeooMrZp3RInPNVTzVn6rLGep7gm_3n0fWPMl");'
            ></div>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <div class="flex min-w-72 flex-col gap-3">
                <p class="text-[#101518] tracking-light text-[32px] font-bold leading-tight">Recruitment Analytics</p>
                <p class="text-[#5c748a] text-sm font-normal leading-normal">Analyze your recruitment performance and identify areas for improvement.</p>
              </div>
            </div>
            <h2 class="text-[#101518] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Application Volume</h2>
            <div class="flex flex-wrap gap-4 px-4 py-6">
              <div class="flex min-w-72 flex-1 flex-col gap-2 rounded-xl border border-[#d4dce2] p-6">
                <p class="text-[#101518] text-base font-medium leading-normal">Total Applications</p>
                <p class="text-[#101518] tracking-light text-[32px] font-bold leading-tight truncate">1,250</p>
                <p class="text-[#5c748a] text-base font-normal leading-normal">Last 30 Days</p>
                <div class="grid min-h-[180px] grid-flow-col gap-6 grid-rows-[1fr_auto] items-end justify-items-center px-3">
                  <div class="border-[#5c748a] bg-[#eaedf1] border-t-2 w-full" style="height: 40%;"></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Week 1</p>
                  <div class="border-[#5c748a] bg-[#eaedf1] border-t-2 w-full" style="height: 0%;"></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Week 2</p>
                  <div class="border-[#5c748a] bg-[#eaedf1] border-t-2 w-full" style="height: 100%;"></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Week 3</p>
                  <div class="border-[#5c748a] bg-[#eaedf1] border-t-2 w-full" style="height: 20%;"></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Week 4</p>
                </div>
              </div>
              <div class="flex min-w-72 flex-1 flex-col gap-2 rounded-xl border border-[#d4dce2] p-6">
                <p class="text-[#101518] text-base font-medium leading-normal">Applications by Source</p>
                <p class="text-[#101518] tracking-light text-[32px] font-bold leading-tight truncate">450</p>
                <p class="text-[#5c748a] text-base font-normal leading-normal">Last 30 Days</p>
                <div class="grid min-h-[180px] grid-flow-col gap-6 grid-rows-[1fr_auto] items-end justify-items-center px-3">
                  <div class="border-[#5c748a] bg-[#eaedf1] border-t-2 w-full" style="height: 60%;"></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Job Board</p>
                  <div class="border-[#5c748a] bg-[#eaedf1] border-t-2 w-full" style="height: 40%;"></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Referral</p>
                  <div class="border-[#5c748a] bg-[#eaedf1] border-t-2 w-full" style="height: 80%;"></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Company Website</p>
                  <div class="border-[#5c748a] bg-[#eaedf1] border-t-2 w-full" style="height: 70%;"></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Agency</p>
                </div>
              </div>
            </div>
            <h2 class="text-[#101518] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Score Distribution</h2>
            <div class="flex flex-wrap gap-4 px-4 py-6">
              <div class="flex min-w-72 flex-1 flex-col gap-2 rounded-xl border border-[#d4dce2] p-6">
                <p class="text-[#101518] text-base font-medium leading-normal">Overall Score Distribution</p>
                <p class="text-[#101518] tracking-light text-[32px] font-bold leading-tight truncate">Average Score: 75</p>
                <p class="text-[#5c748a] text-base font-normal leading-normal">Last 30 Days</p>
                <div class="grid min-h-[180px] grid-flow-col gap-6 grid-rows-[1fr_auto] items-end justify-items-center px-3">
                  <div class="border-[#5c748a] bg-[#eaedf1] border-t-2 w-full" style="height: 50%;"></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">0-20</p>
                  <div class="border-[#5c748a] bg-[#eaedf1] border-t-2 w-full" style="height: 50%;"></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">21-40</p>
                  <div class="border-[#5c748a] bg-[#eaedf1] border-t-2 w-full" style="height: 50%;"></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">41-60</p>
                  <div class="border-[#5c748a] bg-[#eaedf1] border-t-2 w-full" style="height: 70%;"></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">61-80</p>
                  <div class="border-[#5c748a] bg-[#eaedf1] border-t-2 w-full" style="height: 30%;"></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">81-100</p>
                </div>
              </div>
              <div class="flex min-w-72 flex-1 flex-col gap-2 rounded-xl border border-[#d4dce2] p-6">
                <p class="text-[#101518] text-base font-medium leading-normal">Score Distribution by Role</p>
                <p class="text-[#101518] tracking-light text-[32px] font-bold leading-tight truncate">Average Score: 80</p>
                <p class="text-[#5c748a] text-base font-normal leading-normal">Last 30 Days</p>
                <div class="grid min-h-[180px] grid-flow-col gap-6 grid-rows-[1fr_auto] items-end justify-items-center px-3">
                  <div class="border-[#5c748a] bg-[#eaedf1] border-t-2 w-full" style="height: 0%;"></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Software Engineer</p>
                  <div class="border-[#5c748a] bg-[#eaedf1] border-t-2 w-full" style="height: 10%;"></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Product Manager</p>
                  <div class="border-[#5c748a] bg-[#eaedf1] border-t-2 w-full" style="height: 60%;"></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Data Analyst</p>
                  <div class="border-[#5c748a] bg-[#eaedf1] border-t-2 w-full" style="height: 20%;"></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Marketing Specialist</p>
                </div>
              </div>
            </div>
            <h2 class="text-[#101518] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Time to Hire</h2>
            <div class="flex flex-wrap gap-4 px-4 py-6">
              <div class="flex min-w-72 flex-1 flex-col gap-2 rounded-xl border border-[#d4dce2] p-6">
                <p class="text-[#101518] text-base font-medium leading-normal">Average Time to Hire</p>
                <p class="text-[#101518] tracking-light text-[32px] font-bold leading-tight truncate">28 Days</p>
                <p class="text-[#5c748a] text-base font-normal leading-normal">Last 12 Months</p>
                <div class="flex min-h-[180px] flex-1 flex-col gap-8 py-4">
                  <svg width="100%" height="148" viewBox="-3 0 478 150" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                    <path
                      d="M0 109C18.1538 109 18.1538 21 36.3077 21C54.4615 21 54.4615 41 72.6154 41C90.7692 41 90.7692 93 108.923 93C127.077 93 127.077 33 145.231 33C163.385 33 163.385 101 181.538 101C199.692 101 199.692 61 217.846 61C236 61 236 45 254.154 45C272.308 45 272.308 121 290.462 121C308.615 121 308.615 149 326.769 149C344.923 149 344.923 1 363.077 1C381.231 1 381.231 81 399.385 81C417.538 81 417.538 129 435.692 129C453.846 129 453.846 25 472 25V149H326.769H0V109Z"
                      fill="url(#paint0_linear_1131_5935)"
                    ></path>
                    <path
                      d="M0 109C18.1538 109 18.1538 21 36.3077 21C54.4615 21 54.4615 41 72.6154 41C90.7692 41 90.7692 93 108.923 93C127.077 93 127.077 33 145.231 33C163.385 33 163.385 101 181.538 101C199.692 101 199.692 61 217.846 61C236 61 236 45 254.154 45C272.308 45 272.308 121 290.462 121C308.615 121 308.615 149 326.769 149C344.923 149 344.923 1 363.077 1C381.231 1 381.231 81 399.385 81C417.538 81 417.538 129 435.692 129C453.846 129 453.846 25 472 25"
                      stroke="#5c748a"
                      stroke-width="3"
                      stroke-linecap="round"
                    ></path>
                    <defs>
                      <linearGradient id="paint0_linear_1131_5935" x1="236" y1="1" x2="236" y2="149" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#eaedf1"></stop>
                        <stop offset="1" stop-color="#eaedf1" stop-opacity="0"></stop>
                      </linearGradient>
                    </defs>
                  </svg>
                  <div class="flex justify-around">
                    <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Jan</p>
                    <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Feb</p>
                    <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Mar</p>
                    <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Apr</p>
                    <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">May</p>
                    <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Jun</p>
                    <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Jul</p>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="text-[#101518] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Skills Gap Analysis</h2>
            <div class="flex flex-wrap gap-4 px-4 py-6">
              <div class="flex min-w-72 flex-1 flex-col gap-2 rounded-xl border border-[#d4dce2] p-6">
                <p class="text-[#101518] text-base font-medium leading-normal">Top Missing Skills</p>
                <p class="text-[#101518] tracking-light text-[32px] font-bold leading-tight truncate">15%</p>
                <p class="text-[#5c748a] text-base font-normal leading-normal">Last 30 Days</p>
                <div class="grid min-h-[180px] gap-x-4 gap-y-6 grid-cols-[auto_1fr] items-center py-3">
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Python</p>
                  <div class="h-full flex-1"><div class="border-[#5c748a] bg-[#eaedf1] border-r-2 h-full" style="width: 90%;"></div></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Machine Learning</p>
                  <div class="h-full flex-1"><div class="border-[#5c748a] bg-[#eaedf1] border-r-2 h-full" style="width: 10%;"></div></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Data Analysis</p>
                  <div class="h-full flex-1"><div class="border-[#5c748a] bg-[#eaedf1] border-r-2 h-full" style="width: 30%;"></div></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Project Management</p>
                  <div class="h-full flex-1"><div class="border-[#5c748a] bg-[#eaedf1] border-r-2 h-full" style="width: 50%;"></div></div>
                  <p class="text-[#5c748a] text-[13px] font-bold leading-normal tracking-[0.015em]">Communication</p>
                  <div class="h-full flex-1"><div class="border-[#5c748a] bg-[#eaedf1] border-r-2 h-full" style="width: 40%;"></div></div>
                </div>
              </div>
            </div>
            <h2 class="text-[#101518] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">ROI Reporting</h2>
            <div class="flex flex-wrap gap-4 p-4">
              <div class="flex min-w-[158px] flex-1 flex-col gap-2 rounded-xl p-6 bg-[#eaedf1]">
                <p class="text-[#101518] text-base font-medium leading-normal">Cost per Hire</p>
                <p class="text-[#101518] tracking-light text-2xl font-bold leading-tight">$4,500</p>
                <p class="text-[#e73908] text-base font-medium leading-normal">-10%</p>
              </div>
              <div class="flex min-w-[158px] flex-1 flex-col gap-2 rounded-xl p-6 bg-[#eaedf1]">
                <p class="text-[#101518] text-base font-medium leading-normal">Quality of Hire</p>
                <p class="text-[#101518] tracking-light text-2xl font-bold leading-tight">85%</p>
                <p class="text-[#078838] text-base font-medium leading-normal">+5%</p>
              </div>
              <div class="flex min-w-[158px] flex-1 flex-col gap-2 rounded-xl p-6 bg-[#eaedf1]">
                <p class="text-[#101518] text-base font-medium leading-normal">Retention Rate</p>
                <p class="text-[#101518] tracking-light text-2xl font-bold leading-tight">92%</p>
                <p class="text-[#078838] text-base font-medium leading-normal">+8%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
