<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <div class="gap-1 px-6 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col w-80">
            <div class="flex h-full min-h-[700px] flex-col justify-between bg-slate-50 p-4">
              <div class="flex flex-col gap-4">
                <div class="flex gap-3">
                  <div
                    class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBm2dDXNZIYVr5kTsdsFwpEZOZKug8qHcYJSzFi7ovKJ6XagCW0SeO1U3KzKK_c-I95QHv6AzHZmEHREOj7Jhy-ukWRHqJuNdM2Q8ZJS7XN_-9qF4MrfQo4YEBW12hYOQkF-xUSMqb6fniVVhcKRgLd_Y08KOPNUcdgmP6sY6bZ5aACDWrM2t6hGXQBtMBodAiNNBnvFd3O9VXnj2nGrnTJjKIsYg7dD8xFqiOJwhkRzD2f22M_NJ3CPp7Ni4exZtNNecOtnjS8");'
                  ></div>
                  <h1 class="text-[#0d141c] text-base font-medium leading-normal"><%= user.name %></h1>
                </div>
                <div class="flex flex-col gap-2">
                  <div class="flex items-center gap-3 px-3 py-2 rounded-lg bg-[#e7edf4]">
                    <div class="text-[#0d141c]" data-icon="House" data-size="24px" data-weight="fill">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M224,115.55V208a16,16,0,0,1-16,16H168a16,16,0,0,1-16-16V168a8,8,0,0,0-8-8H112a8,8,0,0,0-8,8v40a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V115.55a16,16,0,0,1,5.17-11.78l80-75.48.11-.11a16,16,0,0,1,21.53,0,1.14,1.14,0,0,0,.11.11l80,75.48A16,16,0,0,1,224,115.55Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-[#0d141c] text-sm font-medium leading-normal">Dashboard</p>
                  </div>
                  <div class="flex items-center gap-3 px-3 py-2">
                    <div class="text-[#0d141c]" data-icon="File" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M213.66,82.34l-56-56A8,8,0,0,0,152,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V88A8,8,0,0,0,213.66,82.34ZM160,51.31,188.69,80H160ZM200,216H56V40h88V88a8,8,0,0,0,8,8h48V216Z"
                        ></path>
                      </svg>
                    </div>
                    <a href="/Resume_Comparison" class="text-[#0d141c] text-sm font-medium leading-normal">Resumes</p>
                      <a href=""></a>
                  </div>
                  <div class="flex items-center gap-3 px-3 py-2">
                    <div class="text-[#0d141c]" data-icon="Briefcase" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M216,56H176V48a24,24,0,0,0-24-24H104A24,24,0,0,0,80,48v8H40A16,16,0,0,0,24,72V200a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V72A16,16,0,0,0,216,56ZM96,48a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96ZM216,72v41.61A184,184,0,0,1,128,136a184.07,184.07,0,0,1-88-22.38V72Zm0,128H40V131.64A200.19,200.19,0,0,0,128,152a200.25,200.25,0,0,0,88-20.37V200ZM104,112a8,8,0,0,1,8-8h32a8,8,0,0,1,0,16H112A8,8,0,0,1,104,112Z"
                        ></path>
                      </svg>
                    </div>
                    <a href="/job" class="text-[#0d141c] text-sm font-medium leading-normal">Jobs</p>
                      <a href=""></a>
                  </div>
                 
                  
                </div>
              </div>
            </div>
          </div>
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-[#0d141c] tracking-light text-[32px] font-bold leading-tight min-w-72">Dashboard</p></div>
            <div class="flex flex-wrap gap-4 p-4">
              <div class="flex min-w-[158px] flex-1 flex-col gap-2 rounded-lg p-6 bg-[#e7edf4]">
                <p class="text-[#0d141c] text-base font-medium leading-normal">ATS Score</p>
                <p class="text-[#0d141c] tracking-light text-2xl font-bold leading-tight">85</p>
              </div>
            </div>
            <h2 class="text-[#0d141c] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Recent Resumes</h2>
            <div class="px-4 py-3 @container">
              <div class="flex overflow-hidden rounded-lg border border-[#cedbe8] bg-slate-50">
                <table class="flex-1">
                  <thead>
                    <tr class="bg-slate-50">
                      <th class="table-e6ff287a-dfa0-4602-9e6d-08f0795f02c0-column-120 px-4 py-3 text-left text-[#0d141c] w-[400px] text-sm font-medium leading-normal">Resume</th>
                      <th class="table-e6ff287a-dfa0-4602-9e6d-08f0795f02c0-column-240 px-4 py-3 text-left text-[#0d141c] w-[400px] text-sm font-medium leading-normal">
                        ATS Score
                      </th>
                      <th class="table-e6ff287a-dfa0-4602-9e6d-08f0795f02c0-column-360 px-4 py-3 text-left text-[#0d141c] w-[400px] text-sm font-medium leading-normal">
                        Last Updated
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border-t border-t-[#cedbe8]">
                      <td class="table-e6ff287a-dfa0-4602-9e6d-08f0795f02c0-column-120 h-[72px] px-4 py-2 w-[400px] text-[#0d141c] text-sm font-normal leading-normal">
                        Software Engineer Resume
                      </td>
                      <td class="table-e6ff287a-dfa0-4602-9e6d-08f0795f02c0-column-240 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal">85</td>
                      <td class="table-e6ff287a-dfa0-4602-9e6d-08f0795f02c0-column-360 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal">
                        2023-11-15
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#cedbe8]">
                      <td class="table-e6ff287a-dfa0-4602-9e6d-08f0795f02c0-column-120 h-[72px] px-4 py-2 w-[400px] text-[#0d141c] text-sm font-normal leading-normal">
                        Product Manager Resume
                      </td>
                      <td class="table-e6ff287a-dfa0-4602-9e6d-08f0795f02c0-column-240 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal">78</td>
                      <td class="table-e6ff287a-dfa0-4602-9e6d-08f0795f02c0-column-360 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal">
                        2023-11-10
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#cedbe8]">
                      <td class="table-e6ff287a-dfa0-4602-9e6d-08f0795f02c0-column-120 h-[72px] px-4 py-2 w-[400px] text-[#0d141c] text-sm font-normal leading-normal">
                        Data Analyst Resume
                      </td>
                      <td class="table-e6ff287a-dfa0-4602-9e6d-08f0795f02c0-column-240 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal">92</td>
                      <td class="table-e6ff287a-dfa0-4602-9e6d-08f0795f02c0-column-360 h-[72px] px-4 py-2 w-[400px] text-[#49739c] text-sm font-normal leading-normal">
                        2023-11-05
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <style>
                          @container(max-width:120px){.table-e6ff287a-dfa0-4602-9e6d-08f0795f02c0-column-120{display: none;}}
                @container(max-width:240px){.table-e6ff287a-dfa0-4602-9e6d-08f0795f02c0-column-240{display: none;}}
                @container(max-width:360px){.table-e6ff287a-dfa0-4602-9e6d-08f0795f02c0-column-360{display: none;}}
              </style>
            </div>
            <h2 class="text-[#0d141c] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Job Matching Recommendations</h2>
            <div class="flex overflow-y-auto [-ms-scrollbar-style:none] [scrollbar-width:none] [&amp;::-webkit-scrollbar]:hidden">
              <div class="flex items-stretch p-4 gap-3">
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-40">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex flex-col"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCv380G1yR7SUvGRqmjawAO5kxTP2iMReeE0R_kwFzG_WTiCaDwknMi6LZFxDkx_gbyQiaODmwCTMDUNrZEKpEIvETPDKUXCmhdtfvtjt6hbbA-yKhjbZ6hSGhyuFJtXzDmPnaOAKSmvNK8CypwT58Vj_AAR1_93hMJ-huAiJSbUa-t2P1SixLIp0kSxXmFoQ6lgIKrz2uOKzN-dHUMeJE1fLqa9J067RCHzp0CR0yFzETx1iMhs1vVn-5HiiX5emyqQHLJmx-s");'
                  ></div>
                  <div>
                    <p class="text-[#0d141c] text-base font-medium leading-normal">Software Engineer at Tech Innovators Inc.</p>
                    <p class="text-[#49739c] text-sm font-normal leading-normal">San Francisco, CA</p>
                  </div>
                </div>
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-40">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex flex-col"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCFHQVLFIboDeLwItmmtQ-zsh6Posc1DXtP1FdfBY0yN8JjWDhvORSU3nV4-R6ecuvVbHEiiIb3tbl6e8M5nGkVdi0zrzX4JGaqxWpX03lbileNkCJk5uHSe0lGD7IGI0rBId99ldGsleikgH-Gu8hlZMLqalxLVu1vCJDyC-Oi4T-ZkiQEMPgRRF0u97Ia36ntUOi9dBr6-C6toqeSENo1JbXzrwgKueT1fvAKU5rlZmGuCGapAF5k-X18WtPD4i3NLoapG19M");'
                  ></div>
                  <div>
                    <p class="text-[#0d141c] text-base font-medium leading-normal">Product Manager at Global Solutions Ltd.</p>
                    <p class="text-[#49739c] text-sm font-normal leading-normal">New York, NY</p>
                  </div>
                </div>
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-40">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex flex-col"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuD4rjOYA6TOdN2q5D4NHl2HdFxKkmsM_hfsvLfSgeILxNcRDMwKB80hKRzuNwXQXFpL_ULFALZ3lhS4sa6QlQhlD1eDvbayWG8Qmp_eR5pawjmW-3zL7erNGKzxhKEgutnBydNF4Awq6jDia72ts92t_KcKdJRnPull_DV_wkyveMx303fGnXFZruQ8fOfONjrcCTrgwpgRzNESm-0yJL4ddg4p9RiiCyGQ7hPaDc9oFmpKF5VM6pvRxJxsD9Mjb2gB7Cpz-8iu");'
                  ></div>
                  <div>
                    <p class="text-[#0d141c] text-base font-medium leading-normal">Data Analyst at Data Insights Corp.</p>
                    <p class="text-[#49739c] text-sm font-normal leading-normal">Chicago, IL</p>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="text-[#0d141c] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Performance Trends</h2>
            <div class="flex flex-wrap gap-4 px-4 py-6">
              <div class="flex min-w-72 flex-1 flex-col gap-2 rounded-lg border border-[#cedbe8] p-6">
                <p class="text-[#0d141c] text-base font-medium leading-normal">ATS Score Over Time</p>
                <p class="text-[#0d141c] tracking-light text-[32px] font-bold leading-tight truncate">85</p>
                <div class="flex gap-1">
                  <p class="text-[#49739c] text-base font-normal leading-normal">Last 6 Months</p>
                  <p class="text-[#078838] text-base font-medium leading-normal">+5%</p>
                </div>
                <div class="flex min-h-[180px] flex-1 flex-col gap-8 py-4">
                  <svg width="100%" height="148" viewBox="-3 0 478 150" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                    <path
                      d="M0 109C18.1538 109 18.1538 21 36.3077 21C54.4615 21 54.4615 41 72.6154 41C90.7692 41 90.7692 93 108.923 93C127.077 93 127.077 33 145.231 33C163.385 33 163.385 101 181.538 101C199.692 101 199.692 61 217.846 61C236 61 236 45 254.154 45C272.308 45 272.308 121 290.462 121C308.615 121 308.615 149 326.769 149C344.923 149 344.923 1 363.077 1C381.231 1 381.231 81 399.385 81C417.538 81 417.538 129 435.692 129C453.846 129 453.846 25 472 25V149H326.769H0V109Z"
                      fill="url(#paint0_linear_1131_5935)"
                    ></path>
                    <path
                      d="M0 109C18.1538 109 18.1538 21 36.3077 21C54.4615 21 54.4615 41 72.6154 41C90.7692 41 90.7692 93 108.923 93C127.077 93 127.077 33 145.231 33C163.385 33 163.385 101 181.538 101C199.692 101 199.692 61 217.846 61C236 61 236 45 254.154 45C272.308 45 272.308 121 290.462 121C308.615 121 308.615 149 326.769 149C344.923 149 344.923 1 363.077 1C381.231 1 381.231 81 399.385 81C417.538 81 417.538 129 435.692 129C453.846 129 453.846 25 472 25"
                      stroke="#49739c"
                      stroke-width="3"
                      stroke-linecap="round"
                    ></path>
                    <defs>
                      <linearGradient id="paint0_linear_1131_5935" x1="236" y1="1" x2="236" y2="149" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#e7edf4"></stop>
                        <stop offset="1" stop-color="#e7edf4" stop-opacity="0"></stop>
                      </linearGradient>
                    </defs>
                  </svg>
                  <div class="flex justify-around">
                    <p class="text-[#49739c] text-[13px] font-bold leading-normal tracking-[0.015em]">Jan</p>
                    <p class="text-[#49739c] text-[13px] font-bold leading-normal tracking-[0.015em]">Feb</p>
                    <p class="text-[#49739c] text-[13px] font-bold leading-normal tracking-[0.015em]">Mar</p>
                    <p class="text-[#49739c] text-[13px] font-bold leading-normal tracking-[0.015em]">Apr</p>
                    <p class="text-[#49739c] text-[13px] font-bold leading-normal tracking-[0.015em]">May</p>
                    <p class="text-[#49739c] text-[13px] font-bold leading-normal tracking-[0.015em]">Jun</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-stretch">
              <div class="flex flex-1 gap-3 flex-wrap px-4 py-3 justify-start">
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#0c7ff2] text-slate-50 text-sm font-bold leading-normal tracking-[0.015em]"
                >
                  <span class="truncate">Upload Resume</span>
                </button>
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#e7edf4] text-[#0d141c] text-sm font-bold leading-normal tracking-[0.015em]"
                >
                  <span class="truncate">Search Jobs</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
